.title-welcome-green {
	color: #24ca3f;
	font-size: 400%;
	font-family: monospace;
	margin-top: 90px;
}

.title-welcome-red {
	color: red;
	font-size: 400%;
	font-family: "Arial,Helvetica";
}

hr {
	color: black;
}

body {
	background-color: #d4fcff;
}

.blue-label {
	color: blue;
}