
<div class="container-fluid  fondo-crear-cuenta"
	style="height: 1350px;">
	<div modal="showModal" close="cancel()" style="
    background: rgba(226, 225, 225, 0.59);">
    <div class="modal-header">
        <h4>Resultado Activacion</h4>
    </div>
    <div class="modal-body">
        <p>{{mensaje}}</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">Okay</button>
      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>